/* ******* */
/* BELOW 980px */
/* ******* */

@media (max-width: 980px) {
  .hero__txt__title {
    font-size: 2.4rem;
  }
  .section__hero {
    padding: 3rem 5rem;
  }
  .header {
    padding: 2rem 5rem;
  }
  .section__recommendations {
    padding: 3rem 5rem;
  }
  .recommendations__container {
    gap: 2rem;
  }
  .section__main {
    padding: 5rem 4rem;
  }
  .section__main__title {
    font-size: 4rem;
    margin-bottom: 3rem;
  }
  .activities {
    padding: 1rem 4rem;
  }
  .card--itinerary {
    padding-bottom: 4rem;
  }
  .card--hawaii,
  .card--greece,
  .card--iceland {
    width: 15rem;
    height: 25rem;
    font-size: 1.6rem;
  }
  .cta__container {
    flex-direction: column-reverse;
    width: 80%;
  }
  .section__cta {
    padding: 0 5rem;
  }
  .cta__img {
    width: 100%;
    height: 20rem;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-bottom-right-radius: 0;
  }
  .cta__txt {
    border-top-right-radius: 0rem;
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
  .cta__form {
    column-gap: 3rem;

    /* justify-content: space-between; */
  }

  .footer {
    padding: 3rem 6rem;
    justify-content: space-between;
    gap: 1.6rem;
  }
  .footer__subinformation--hours {
    gap: 1.2rem;
  }
}

/* ******* */
/* BELOW 780px */
/* ******* */

@media (max-width: 780px) {
  .hero__txt__title {
    font-size: 2.2rem;
  }
  .header {
    padding: 2rem 4rem;
  }
  .section__hero {
    padding: 3rem 4rem;
  }
  .section__recommendations {
    padding: 3rem 4rem;
  }
  .card--hawaii,
  .card--greece,
  .card--iceland {
    width: 11rem;
    height: 20rem;
    font-size: 1.2rem;
  }
  .recommendations__container {
    gap: 1rem;
  }
  .section__main {
    padding: 5rem 4rem;
  }
  .section__main__title {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  .activities {
    padding: 1rem 3rem;
  }
  .card--itinerary {
    padding-bottom: 3rem;
  }

  .footer {
    flex-wrap: wrap;
    padding: 3rem 4rem;
    column-gap: 3rem;
    row-gap: 2rem;
  }
}

/* ******* */
/* BELOW 580px */
/* ******* */

@media (max-width: 580px) {
  .header {
    flex-direction: column;
    padding: 1rem 4rem;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .section__hero {
    padding: 3rem 3rem;
    flex-direction: column;
  }
  .section__hero__txt {
    width: 100%;
    text-align: center;
    align-items: center;
    margin-bottom: 3rem;
  }
  .hero__txt__description {
    width: 70%;
  }
  .recommendations__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .card--hawaii,
  .card--greece,
  .card--iceland {
    width: 20rem;
    height: 30rem;
    font-size: 1.8rem;
  }
  .section__main {
    padding: 4rem 3rem;
  }
  .activities__day {
    padding: 0.2rem;
    margin-bottom: 0.2rem;
  }
  .section__main__title {
    font-size: 2rem;
    margin-bottom: 1rem;

    padding-bottom: 0;
  }
  .activities {
    padding: 0.5rem 2rem;
  }
  .card--itinerary {
    padding: 0.5rem 0.5rem 1rem 0.5rem;
  }
  .itinerary__cards {
    flex-wrap: wrap;
    gap: 1.4rem;
  }
  .section__cta {
    padding: 0 2rem;
  }
  .footer__container {
    gap: 1rem;
  }
}

/* ******* */
/* BELOW 380px */
/* ******* */

@media (max-width: 380px) {
  .section__main__title {
    text-align: center;
    margin-bottom: 2rem;
  }
  .section__hero {
    padding: 3rem 2rem;
  }
  .card--hawaii,
  .card--greece,
  .card--iceland {
    width: 15rem;
    height: 25rem;
    font-size: 1.6rem;
  }
  .section__main {
    padding: 3rem 2rem;
  }
  .section__cta {
    padding: 0rem;
  }
  .footer__subinformation--hours {
    flex-direction: column;
  }
}
